{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>

        <title>{% block title %}Social Network{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'user_portfolio/index.css' %}">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> 
        <script src="https://cdn.tailwindcss.com"></script>
        
        {% block scripts %}
        
        {% endblock scripts %}
    </head>
    <body class="text-2xl" style="font-family: 'Montserrat', sans-serif;">
      <nav class="bg-[#25174B] shadow-md pb-2 pt-2 sm:text-4xl text-center">
        <div class="flex flex-col sm:flex-row items-center justify-center gap-5 sm:gap-10 px-4">
          <!-- Left Side Links -->
          <ul class="flex flex-col sm:flex-row flex-1 justify-end gap-5 sm:gap-10">
            <!-- Your left side links go here -->
            <li>
              <a href="{% url 'index' %}" class="text-gray-100 sm:font-semibold uppercase tracking-widest hover:text-gray-300">Main Page</a>
            </li>
            <li>
              <a href="{% url 'momentum' %}" class="text-gray-100 sm:font-semibold uppercase tracking-widest hover:text-gray-300">Momentum</a>
            </li>
          </ul>
      
          <!-- Center Logo -->
          <div class="flex-0 hidden md:block">
            <img class="block h-[200px]" src="{% static 'user_portfolio/images/capy3wobg_c.png' %}" alt="Capybara">
          </div>
      
          <!-- Right Side Links -->
          <ul class="flex flex-col sm:flex-row flex-1 gap-5 sm:gap-10">
            <!-- Your right side links go here -->
            <li>
              <a href="{% url 'ticker_detail' ticker='AAPL' %}" class="text-gray-100 sm:font-semibold uppercase tracking-widest hover:text-gray-300">Portfolio</a>
            </li>
            {% if user.is_authenticated %}
              <li>
                <a href="{% url 'logout' %}" class="text-gray-100 sm:font-semibold uppercase tracking-widest hover:text-gray-300">Log Out</a>
              </li>
            {% else %}
              <li>
                <a href="{% url 'login' %}" class="text-gray-100 sm:font-semibold uppercase tracking-widest hover:text-gray-300">Log In</a>
              </li>
              <li>
                <a href="{% url 'register' %}" class="text-gray-100 sm:font-semibold uppercase tracking-widest hover:text-gray-300">Register</a>
              </li>
            {% endif %}
          </ul>
        </div>
    </nav>
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>