{% extends "user_portfolio/layout.html" %}
{% load static %}
{% block scripts %}
  <script src="{% static 'user_portfolio/js/portfolio.js' %}"></script>
{% endblock scripts %}
{% block body %}

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container container max-w-8xl" style="height: 750px;">
    <div id="tradingview_d7bdc" style="height:calc(100% - 32px);width:100%"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
    new TradingView.widget(
    {
    "autosize": true,
    "symbol": `{{ticker}}`,
    "interval": "D",
    "timezone": "Etc/UTC",
    "theme": "light",
    "style": "1",
    "locale": "en",
    "enable_publishing": false,
    "allow_symbol_change": true,
    "container_id": "tradingview_d7bdc"
  }
    );
    </script>
  </div>
  <div>
    <div class="flex flex-wrap gap-3 max-w-5xl mx-auto pb-4">
      {% for key, name in strategy_tickers_dict.items %}
      <button data-ticker="{{key}}" class="strategy-button border border-gray-300 shadow-sm text-gray-700 font-medium pl-2 px-4 rounded focus:outline-none hover:bg-gray-100 hover:border-gray-400 hover:shadow-md transition-all duration-200">{{name}} ({{key}})</button>
      {% endfor %}
    </div>
  </div>

  <form method="get" class="min-h-[200px] max-w-lg mx-auto bg-white p-6 mb-5 rounded-lg shadow">
    {{ filter.form.as_p | safe }}
  </form>


  <div id="portfolio-display-container" class="container mx-auto px-4"></div>

  <input type="text" name="ticker" value="{{ request.GET.ticker }}" />
  <script>
    window.displayed_ticker = "{{ ticker|safe }}";
  </script>
 


  {% endblock %}

