{% extends "user_portfolio/layout.html" %}
{% load static %}
{% block scripts %}
  <script src="{% static 'user_portfolio/js/portfolio.js' %}"></script>
{% endblock scripts %}
{% block body %}

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container container max-w-8xl" style="height: 750px;">
    <div id="tradingview_d7bdc" style="height:calc(100% - 32px);width:100%"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
    new TradingView.widget(
    {
    "autosize": true,
    "symbol": `{{ticker}}`,
    "interval": "D",
    "timezone": "Etc/UTC",
    "theme": "light",
    "style": "1",
    "locale": "en",
    "enable_publishing": false,
    "allow_symbol_change": true,
    "container_id": "tradingview_d7bdc"
  }
    );
    </script>
  </div>
  <hr>
  <div>
    <div class="flex flex-wrap gap-3 max-w-5xl mx-auto pb-4">
      <p class="font-bold">Strategy:</p>
      {% for key, name in strategy_tickers_dict.items %}
      <button data-ticker="{{key}}" class="strategy-button border border-gray-300 shadow-sm text-gray-700 font-medium pl-2 px-4 rounded focus:outline-none hover:bg-gray-100 hover:border-gray-400 hover:shadow-md transition-all duration-200">{{name}} ({{key}})</button>
      {% endfor %}
    </div>
  </div>
  <hr>
  <div class="flex flex-wrap gap-3 max-w-5xl mx-auto pb-4 mt-4">
    <p class="font-bold">Watchlist:</p>
    {% if watchlist_tickers %}
        {% for ticker in watchlist_tickers %}
            <div class="flex items-center space-x-2 border border-gray-300 shadow-sm text-gray-700 font-medium pl-2 px-4 rounded hover:bg-gray-100 hover:border-gray-400 hover:shadow-md transition-all duration-200">
                <button data-ticker="{{ticker.ticker}}" class="strategy-button hover:border-none focus:outline-none">
                    {{ticker.company_name}} ({{ticker.ticker}})
                </button>
                <!-- Ukryta forma -->
                <form id="remove-ticker-{{ticker.ticker}}" action="{% url 'ticker_detail' ticker=ticker.ticker %}" method="post" class="focus:outline-none flex items-center">
                    {% csrf_token %}
                    <input type="hidden" name="remove_ticker" value="{{ticker.ticker}}">
                    <button type="submit" class="focus:outline-none active:border-none" onclick="event.stopPropagation();"><img src="https://www.freeiconspng.com/uploads/close-button-png-27.png" width="20" alt="Remove" class="remove-ticker-icon"></button>
                </form>
            </div>
        {% endfor %}
    {% else %}
        <p>Brak tickerów na watchliście.</p>
    {% endif %}
  </div>
  <div class="container max-w-8xl flex gap-5 justify-center mb-3">
    <!-- Przycisk Buy Stock -->
    <button id='buy-stock-display-button' class="bg-blue-500 text-white active:bg-blue-600 font-bold uppercase text-xs px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" style='display: none;'>
      Buy Stock
    </button>

    <!-- Przycisk Find Stock -->
    <button class="bg-purple-500 text-white active:bg-purple-600 font-bold uppercase text-xs px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
      Find Stock
    </button>
</div>

  <form method="get" id="searching-form" class="min-h-[200px] max-w-lg mx-auto bg-white p-6 mb-5 rounded-lg shadow">
    {{ filter.form.as_p | safe }}
  </form>
  <div id="purchase-container" class="container mx-auto px-4 " style='display: none;'>
    <form id="append-to-portfolio-form" class="relative min-h-[200px] max-w-lg mx-auto bg-white p-6 mb-5 rounded-lg shadow" method="post" >
        <!-- Token CSRF - możesz go dodać ręcznie lub wygenerować za pomocą skryptu JavaScript -->
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        
        <div>
          <p class="text-4xl font-bold" id="form-ticker"></p>
          <p id="form-ticker-price"></p>
          <!-- Ukryte pole dla symbolu tickera -->
          <input type="hidden" name="ticker_symbol" id="id_ticker_symbol">
        </div>
        
        <div>
          <!-- Ukryte pole dla ceny zakupu -->
          <input type="hidden" name="purchase_price" id="purchase_price">
        </div>
        
        <div class="flex items-center gap-4">
            <label class='m-0' for="id_quantity">Shares:</label>
            <!-- Pole tekstowe dla ilości akcji -->
            <input type="number" name="quantity" id="quantity" 
            class="mt-1 block w-full border-2 border-gray-300 bg-white py-2 px-4 shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" 
            min="0.1" step="0.01" required>
        </div>
        
        <!-- Element do wyświetlania całkowitej ceny -->
        <p id="total-price"></p> 
        <button id='buy-button' type="submit" class="absolute bottom-2 right-6 bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
          Buy
        </button>
      </div>
    </form>
</div>

  <div id="portfolio-display-container" class="container mx-auto px-4"></div>

  <input type="text" name="ticker_price" value="{{ request.GET.ticker }}" />
  <script>
    window.displayed_ticker = "{{ ticker|safe }}"
    window.csrfToken = "{{ csrf_token }}";
    window.currentPricePerShare = 0;
    document.addEventListener('DOMContentLoaded', function() {
      createPortfolioDisplay();
      widgetOnTickerClick();
      initializeTickerSuggestions();
      handleAppendTickerToPortfolioForm();
      createTradingViewWidget(window.displayed_ticker);
      setInterval(function() {
          createPortfolioDisplay();
          var purchaseContainer = document.getElementById("purchase-container");
          if (purchaseContainer && purchaseContainer.style.display === 'block') {
          fetchTickerPrice(window.displayed_ticker);
          }
      }, 60000);
      
    });
  </script>
 


  {% endblock %}

